<h1>Listando Tarefas</h1>

<table>
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Status</th>
      <th>Autor</th>
      <th>Categoria</th>
      <th>Criado em</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.description %></td>
        <td><%= task.status %></td>
        <td><%= task.author.name %></td>
        <td><%= task.category.name %></td>
        <td><%= task.created_at.strftime("%d/%m/%Y") %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p>
  <%= link_to 'Nova Tarefa', new_task_path %> |
  <%= link_to 'Novo Autor', new_author_path %> | 
  <%= link_to 'Nova Categoria', new_category_path %>
</p>