<!DOCTYPE html>
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
Name	   : Regeneracy
Description: A two-column, fixed-width design with dark color scheme.
Version	: 1.0
Released   : 20100529
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Central de Tarefas - Sagui Lindão - CodeBeMine </title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><%= link_to 'Lista de Tarefas', tasks_path %></h1>

				<p>Um produto desenvolvido por CodeBeMine</p>
			</div>
			<div id="menu">
				<ul>
					<li class="current_page_item"><%= link_to 'Home', tasks_path %></li>
					<li><%= link_to 'Tarefas', tasks_path %></li>
					<li><%= link_to 'Categorias', categories_path %></li>
					<li><%= link_to 'Autores', authors_path %></li>

				</ul>
			</div>
		</div>
	</div>
	<!-- end #header -->
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
			<%= yield %>

				<div style="clear: both;"> </div>
			</div>
		</div>
		<div id="footer">
			<%= link_to 'CodeBeMine', 'http://www.codebemine.com.br' %>
		</div>
	</div>
	<!-- end #page -->
</div>
</body>
</html>